[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "*"
asgiref = "*"
bidict = "*"
billiard = "*"
blinker = "*"
celery = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
click-didyoumean = "*"
click-plugins = "*"
click-repl = "*"
colorama = "*"
dj-database-url = "*"
django = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-filter = "*"
django-redis = "*"
django-render-block = "*"
django-templated-email = "*"
django-templated-mail = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
drf-nested-routers = "*"
flask = "*"
flask-cors = "*"
flask-login = "*"
gevent = "*"
geventhttpclient = "*"
greenlet = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
jinja2 = "*"
kombu = "*"
locust = "*"
markupsafe = "*"
model-bakery = "*"
msgpack = "*"
mysqlclient = "*"
oauthlib = "*"
pillow = "*"
psutil = "*"
pycparser = "*"
pygments = "*"
pyjwt = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
python-dateutil = "*"
python-engineio = "*"
python-socketio = "*"
python3-openid = "*"
redis = "*"
requests = "*"
requests-oauthlib = "*"
simple-websocket = "*"
six = "*"
social-auth-app-django = "*"
social-auth-core = "*"
sqlparse = "*"
urllib3 = "*"
vine = "*"
watchdog = "*"
wcwidth = "*"
websocket-client = "*"
werkzeug = "*"
wsproto = "*"
"zope.event" = "*"
"zope.interface" = "*"

[dev-packages]

[requires]
python_version = "3.10"
