amqp
asgiref
bidict
billiard
blinker
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
dj-database-url
Django
django-cors-headers
django-debug-toolbar
django-filter
django-redis
django-render-block
django-templated-email
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-nested-routers
Flask
flask-cors
Flask-Login
gevent
geventhttpclient
greenlet
gunicorn
idna
itsdangerous
Jinja2
kombu
locust
MarkupSafe
model-bakery
msgpack
mysqlclient
oauthlib
pillow
psutil
pycparser
Pygments
PyJWT
pytest
pytest-django
pytest-watch
python-dateutil
python-engineio
python-socketio
python3-openid
redis
requests
requests-oauthlib
simple-websocket
six
social-auth-app-django
social-auth-core
sqlparse
urllib3
vine
watchdog
wcwidth
websocket-client
Werkzeug
wsproto
zope.event
zope.interface
